/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #767676; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  font-family: 'Roboto', sans-serif; }

input {
  background: none;
  border: none; }

.lnb .topics::-webkit-scrollbar {
  display: none; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  outline: 0;
  background: transparent;
  height: 32px;
  font-size: 14px;
  padding: 0 11px;
  cursor: pointer;
  border-radius: 4px;
  color: #111;
  user-select: none; }
  .btn svg {
    width: 15px;
    fill: #767676; }

.btn-outline {
  border: 1px solid #d1d1d1;
  color: #767676;
  transition: 0.2s; }
  .btn-outline:hover {
    border-color: #111;
    color: #111; }

.btn-confirm {
  background: #3cb46e;
  color: #fff;
  transition: 0.2s; }
  .btn-confirm:hover {
    background: #37a866; }
  .btn-confirm:active {
    background: #299253; }

.gallery-item .gallery-content .gallery-btn {
  padding: 0 11px;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.2s; }
  .gallery-item .gallery-content .gallery-btn svg {
    width: 15px;
    fill: #767676; }
  .gallery-item .gallery-content .gallery-btn:hover {
    background: #fff; }
    .gallery-item .gallery-content .gallery-btn:hover svg {
      fill: #111; }

.btn-popup {
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px; }

.top-area {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%; }
  .top-area .us-header {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background: #fff; }
    .top-area .us-header .logo {
      margin-right: 12px;
      display: flex;
      align-items: center; }
      .top-area .us-header .logo .logo-title {
        margin: 0 18px; }
        @media screen and (max-width: 1200px) {
          .top-area .us-header .logo .logo-title {
            display: none; } }
        .top-area .us-header .logo .logo-title h1 {
          font-size: 15px;
          color: #111;
          font-weight: 500; }
        .top-area .us-header .logo .logo-title h2 {
          font-size: 13px;
          color: #111;
          font-weight: 300; }
    .top-area .us-header .search-window {
      flex: 1; }
      .top-area .us-header .search-window label {
        display: flex;
        background: #eee;
        border-radius: 19px;
        height: 38px;
        overflow: hidden;
        padding: 0 16px; }
        .top-area .us-header .search-window label .icon {
          display: flex;
          align-items: center;
          margin-right: 10px; }
          .top-area .us-header .search-window label .icon svg {
            width: 20px;
            fill: #767676; }
        .top-area .us-header .search-window label input {
          flex: 1;
          outline: 0;
          font-size: 14px; }
    .top-area .us-header .gnb {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .top-area .us-header .gnb {
          display: none; } }
      .top-area .us-header .gnb nav {
        display: flex;
        align-items: center;
        padding: 0 36px; }
        @media screen and (max-width: 990px) {
          .top-area .us-header .gnb nav {
            padding: 0 10px; } }
        .top-area .us-header .gnb nav .nav-link {
          font-size: 14px;
          text-transform: capitalize;
          padding: 20px 12px;
          display: flex; }
          .top-area .us-header .gnb nav .nav-link .label {
            margin-left: 2px;
            position: relative;
            font-size: 10px;
            top: -10px;
            background: linear-gradient(94deg, #ff2a2a, #7074ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone; }
        .top-area .us-header .gnb nav .nav-more {
          position: relative; }
          .top-area .us-header .gnb nav .nav-more .btn-menu {
            cursor: pointer;
            position: relative;
            padding: 0 12px; }
            .top-area .us-header .gnb nav .nav-more .btn-menu svg {
              fill: #767676;
              transition: 0.2s; }
              .top-area .us-header .gnb nav .nav-more .btn-menu svg:hover {
                fill: #111; }
          .top-area .us-header .gnb nav .nav-more .dropdown {
            display: none;
            z-index: 1;
            position: absolute;
            top: 40px;
            left: -10px;
            background: #111;
            padding: 10px 0;
            border-radius: 4px;
            font-size: 14px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); }
            .top-area .us-header .gnb nav .nav-more .dropdown.is-active {
              display: block; }
            .top-area .us-header .gnb nav .nav-more .dropdown::after {
              content: '';
              background: #111;
              position: absolute;
              top: -5px;
              left: 26px;
              width: 10px;
              height: 10px;
              transform: rotate(45deg); }
            .top-area .us-header .gnb nav .nav-more .dropdown .dropdown-menus a {
              display: block;
              padding: 12px 16px;
              color: #fff;
              transition: color 0.2s; }
              .top-area .us-header .gnb nav .nav-more .dropdown .dropdown-menus a:hover {
                color: #767676; }
            .top-area .us-header .gnb nav .nav-more .dropdown .sns-links {
              display: flex;
              padding: 12px 6px;
              border-bottom: 1px solid #5c5c5c; }
              .top-area .us-header .gnb nav .nav-more .dropdown .sns-links a {
                align-items: center;
                padding: 0 8px;
                margin: 0 2px;
                fill: #fff;
                transition: fill 0.2s; }
                .top-area .us-header .gnb nav .nav-more .dropdown .sns-links a:hover {
                  fill: #767676; }
            .top-area .us-header .gnb nav .nav-more .dropdown .info {
              display: flex;
              align-items: center;
              padding: 18px 6px 8px; }
              .top-area .us-header .gnb nav .nav-more .dropdown .info a {
                padding: 0 10px;
                white-space: nowrap;
                font-size: 13px;
                color: #d1d1d1;
                position: relative;
                transition: color 0.2s; }
                .top-area .us-header .gnb nav .nav-more .dropdown .info a:hover {
                  color: #767676; }
                .top-area .us-header .gnb nav .nav-more .dropdown .info a::after {
                  content: '';
                  position: absolute;
                  width: 2px;
                  height: 2px;
                  border-radius: 3px;
                  background: #fff;
                  right: 0;
                  top: 6px; }
                .top-area .us-header .gnb nav .nav-more .dropdown .info a:last-child::after {
                  display: none; }
      .top-area .us-header .gnb .submit-photo {
        padding: 0 12px;
        font-size: 14px;
        margin-right: 32px;
        cursor: pointer; }
        @media screen and (max-width: 990px) {
          .top-area .us-header .gnb .submit-photo span {
            display: none; } }
      .top-area .us-header .gnb .member-area {
        border-left: 1px solid #d1d1d1;
        display: flex;
        text-align: center; }
        .top-area .us-header .gnb .member-area .btn {
          text-transform: capitalize; }
        .top-area .us-header .gnb .member-area .btn-login {
          margin: 0 14px;
          color: #767676; }
    .top-area .us-header .mobile-menu {
      display: none;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .top-area .us-header .mobile-menu {
          display: flex;
          padding: 5px;
          margin-left: 10px; }
          .top-area .us-header .mobile-menu svg {
            fill: #767676; } }
  .top-area .lnb {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background: #fff; }
    .top-area .lnb .editorial {
      padding: 0 32px;
      height: 56px;
      display: flex;
      align-items: center;
      font-size: 14px; }
    .top-area .lnb .topics {
      display: flex;
      overflow: auto; }
      .top-area .lnb .topics a {
        display: flex;
        align-items: center;
        height: 56px;
        margin: 0 16px;
        white-space: nowrap;
        font-size: 14px; }
    .top-area .lnb .all {
      white-space: nowrap;
      padding: 0 20px;
      font-size: 14px;
      color: #767676; }
      @media screen and (max-width: 768px) {
        .top-area .lnb .all {
          display: none; } }

.login-popup {
  position: fixed;
  z-index: 1000;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center; }
  .login-popup.is-active {
    display: flex; }
  .login-popup .login-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .login-popup .contents {
    width: 900px;
    height: 670px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 36px 150px; }
    .login-popup .contents .login-info h2 {
      margin: 20px 0;
      font-weight: 500;
      font-size: 28px; }
    .login-popup .contents .login-facebook {
      width: 100%;
      background: #1778f2;
      margin: 30px 0; }
      .login-popup .contents .login-facebook a {
        color: #fff;
        display: flex;
        align-items: center; }
        .login-popup .contents .login-facebook a svg {
          margin-right: 12px;
          fill: #fff; }
    .login-popup .contents .email-input {
      text-align: left;
      margin-bottom: 30px; }
      .login-popup .contents .email-input label {
        line-height: 1.6; }
      .login-popup .contents .email-input input {
        width: 100%;
        height: 40px;
        padding: 5px 7px;
        border: 1px solid #767676;
        border-radius: 4px;
        outline: 0; }
    .login-popup .contents .password-input {
      text-align: left; }
      .login-popup .contents .password-input label {
        display: flex;
        line-height: 1.6;
        justify-content: space-between; }
        .login-popup .contents .password-input label a {
          text-decoration: underline;
          border-style: solid; }
      .login-popup .contents .password-input input {
        width: 100%;
        height: 40px;
        padding: 5px 7px;
        border: 1px solid #767676;
        border-radius: 4px;
        outline: 0; }
    .login-popup .contents .login-check {
      margin: 30px 0;
      background: #111;
      width: 100%;
      color: #fff; }

.gallery-popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center; }
  .gallery-popup.is-active {
    display: flex; }
  .gallery-popup .gallery-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .gallery-popup .gallery-popup-contents {
    width: 100rem;
    height: 850px;
    background: #fff;
    border-radius: 4px;
    padding: 15px; }
    .gallery-popup .gallery-popup-contents .top-info {
      height: 20%;
      display: flex;
      justify-content: space-between; }
      .gallery-popup .gallery-popup-contents .top-info .member-info {
        display: flex; }
        .gallery-popup .gallery-popup-contents .top-info .member-info .member-account-thumb {
          padding-right: 10px; }
        .gallery-popup .gallery-popup-contents .top-info .member-info .member-account-name span {
          color: #111; }
        .gallery-popup .gallery-popup-contents .top-info .member-info .member-account-name p {
          font-size: 13px;
          transition: 0.2s; }
        .gallery-popup .gallery-popup-contents .top-info .member-info .member-account-name:hover p {
          color: #111; }
      .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn {
        display: flex; }
        .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .gallery-btn {
          border: 1px solid #d1d1d1;
          margin-right: 8px;
          transition: 0.2s; }
          .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .gallery-btn:hover {
            border: 1px solid #111; }
            .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .gallery-btn:hover svg {
              fill: #111; }
        .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .download-free-btn {
          background: #3cb46e;
          color: #fff;
          transition: 0.2s; }
          .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .download-free-btn svg {
            fill: #fff;
            width: 24px; }
          .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .download-free-btn:hover {
            background: #33a763; }
          .gallery-popup .gallery-popup-contents .top-info .gallery-popup-info-btn .download-free-btn:active {
            background: #299255; }
    .gallery-popup .gallery-popup-contents .img-contents {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .gallery-popup .gallery-popup-contents .bottom-info-btn {
      height: 20%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end; }
      .gallery-popup .gallery-popup-contents .bottom-info-btn .gallery-btn {
        margin-left: 8px;
        border: 1px solid #d1d1d1;
        transition: 0.2s; }
        .gallery-popup .gallery-popup-contents .bottom-info-btn .gallery-btn svg {
          margin-right: 5px; }
        .gallery-popup .gallery-popup-contents .bottom-info-btn .gallery-btn:hover {
          border: 1px solid #111; }
          .gallery-popup .gallery-popup-contents .bottom-info-btn .gallery-btn:hover svg {
            fill: #111; }
    .gallery-popup .gallery-popup-contents .close-btn {
      position: absolute;
      top: 5px;
      left: 5px; }
      .gallery-popup .gallery-popup-contents .close-btn svg {
        width: 24px;
        fill: #fff; }

.main-banner-top {
  width: 100%;
  background: url("https://images.unsplash.com/photo-1607448421773-f74d4b9b5919?ixid=MXwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&dpr=2&auto=format%2Ccompress&fit=crop&w=1399&h=594") center 0 no-repeat;
  background-size: cover; }
  .main-banner-top .banner-contents {
    padding: 144px 0;
    width: 50%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .main-banner-top .banner-contents {
        width: 100%;
        margin: 0;
        padding: 80px 20px 60px; } }
    @media screen and (max-width: 495px) {
      .main-banner-top .banner-contents {
        padding: 32px 12px; } }
    .main-banner-top .banner-contents .banner-caption h1 {
      color: #fff;
      font-size: 46px;
      font-weight: 500; }
      @media screen and (max-width: 768px) {
        .main-banner-top .banner-contents .banner-caption h1 {
          font-size: 24px; } }
    .main-banner-top .banner-contents .banner-caption p {
      color: #fff;
      font-size: 18px;
      line-height: 1.6;
      margin: 18px 0 24px; }
      @media screen and (max-width: 768px) {
        .main-banner-top .banner-contents .banner-caption p {
          font-size: 15px;
          margin-bottom: 0; } }
    @media screen and (max-width: 768px) {
      .main-banner-top .banner-contents .search-photos {
        display: none; } }
    .main-banner-top .banner-contents .search-photos label {
      display: flex;
      align-items: center;
      background: #fff;
      width: 90%;
      padding: 10px 15px;
      border-radius: 4px;
      height: 54px; }
      .main-banner-top .banner-contents .search-photos label .search-photos-icon {
        fill: #767676;
        margin-right: 12px; }
      .main-banner-top .banner-contents .search-photos label input {
        width: 100%;
        outline: none; }
    .main-banner-top .banner-contents .trending-link {
      display: flex;
      font-size: 15px;
      margin-top: 16px; }
      @media screen and (max-width: 768px) {
        .main-banner-top .banner-contents .trending-link {
          display: none; } }
      .main-banner-top .banner-contents .trending-link p {
        color: #fff; }
      .main-banner-top .banner-contents .trending-link ul {
        display: flex; }
        .main-banner-top .banner-contents .trending-link ul li a {
          color: #ffffffcc;
          padding: 0 3px;
          transition: 0.2s; }
          .main-banner-top .banner-contents .trending-link ul li a:hover {
            color: #fff; }
  .main-banner-top .bottom-caption {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 13px;
    padding: 20px;
    width: 100%; }
    @media screen and (max-width: 990px) {
      .main-banner-top .bottom-caption {
        justify-content: space-between; } }
    @media screen and (max-width: 495px) {
      .main-banner-top .bottom-caption {
        padding: 20px 12px; } }
    .main-banner-top .bottom-caption .photo-writer {
      color: #ffffffcc; }
      @media screen and (max-width: 495px) {
        .main-banner-top .bottom-caption .photo-writer {
          display: none; } }
      .main-banner-top .bottom-caption .photo-writer span {
        color: #ffffff8c; }
      .main-banner-top .bottom-caption .photo-writer a {
        color: #ffffffcc;
        transition: 0.2s; }
        .main-banner-top .bottom-caption .photo-writer a:hover {
          color: #fff; }
    .main-banner-top .bottom-caption .license-read-more {
      display: flex;
      justify-content: center;
      flex: 1;
      color: #ffffff8c; }
      @media screen and (max-width: 990px) {
        .main-banner-top .bottom-caption .license-read-more {
          display: none; } }
      .main-banner-top .bottom-caption .license-read-more a {
        color: #ffffffcc;
        transition: 0.2s;
        margin: 0 3px; }
        .main-banner-top .bottom-caption .license-read-more a:hover {
          color: #fff; }
    .main-banner-top .bottom-caption .squarespace-link {
      text-align: right; }
      @media screen and (max-width: 495px) {
        .main-banner-top .bottom-caption .squarespace-link {
          text-align: left; } }
      .main-banner-top .bottom-caption .squarespace-link img {
        max-width: 150px; }
      .main-banner-top .bottom-caption .squarespace-link a {
        display: block;
        margin-top: 5px;
        color: #ffffffcc;
        transition: 0.2s; }
        .main-banner-top .bottom-caption .squarespace-link a:hover {
          color: #fff; }

.gallery {
  max-width: 1320px;
  margin: 36px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.gallery-item {
  position: relative;
  margin: 12px;
  height: 100%;
  width: 410px; }
  .gallery-item:hover .gallery-content {
    opacity: 1; }
  .gallery-item .gallery-picture {
    cursor: pointer;
    width: 100%; }
  .gallery-item .gallery-content {
    transition: 0.2s;
    opacity: 0; }
    .gallery-item .gallery-content .member-gallery-btn {
      padding: 20px;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.2s;
      display: flex; }
      .gallery-item .gallery-content .member-gallery-btn .favorite-btn {
        margin-right: 8px; }
    .gallery-item .gallery-content .avatar {
      margin: 20px;
      position: absolute;
      bottom: 0;
      left: 0; }
      .gallery-item .gallery-content .avatar a {
        color: #fff; }
      .gallery-item .gallery-content .avatar img {
        border-radius: 50%;
        margin-right: 8px; }
    .gallery-item .gallery-content .download-btn {
      margin: 20px;
      position: absolute;
      bottom: 0;
      right: 0; }

/*# sourceMappingURL=style.css.map */
