//main-banner-top
.main-banner-top {
  width: 100%;
  background: url("https://images.unsplash.com/photo-1607448421773-f74d4b9b5919?ixid=MXwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&dpr=2&auto=format%2Ccompress&fit=crop&w=1399&h=594") center 0 no-repeat;
  background-size: cover;

  .banner-contents {
    padding: 144px 0;
    width: 50%;
    margin: 0 auto;
    @include screen-sm{
      width: 100%;
      margin: 0;
      padding: 80px 20px 60px;
    }

    @include screen-xs{
      padding: 32px 12px;
    }

    .banner-caption {
      h1 {
        color: #fff;
        font-size: 46px;
        font-weight: 500;
        @include screen-sm{
          font-size: 24px;
        }
      }

      p {
        color: #fff;
        font-size: 18px;
        line-height: 1.6;
        margin: 18px 0 24px;
        @include screen-sm{
          font-size: 15px;
          margin-bottom: 0;
        }
      }
    }

    .search-photos {
      @include screen-sm{
        display: none;
      }
      label {
        display: flex;
        align-items: center;
        background: #fff;
        width: 90%;
        padding: 10px 15px;
        border-radius: 4px;
        height: 54px;

        .search-photos-icon {
          fill: #767676;
          margin-right: 12px;
        }

        input {
          width: 100%;
          outline: none;

        }
      }
    }

    .trending-link {
      display: flex;
      font-size: 15px;
      margin-top: 16px;
      @include screen-sm{
        display: none;
      }

      p {
        color: #fff;
      }

      ul {
        display: flex;

        li {
          a {
            color: #ffffffcc;
            padding: 0 3px;
            transition: 0.2s;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .bottom-caption {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 13px;
    padding: 20px;
    width: 100%;
    @include screen-md{
      justify-content: space-between;
    }
    @include screen-xs{
      padding: 20px 12px;
    }

    .photo-writer {
      color: #ffffffcc;
      @include screen-xs{
        display: none;
      }

      span {
        color: #ffffff8c;
      }

      a {
        color: #ffffffcc;
        transition: 0.2s;

        &:hover {
          color: #fff;
        }
      }
    }

    .license-read-more {
      display: flex;
      justify-content: center;
      flex: 1;
      color: #ffffff8c;
      @include screen-md{
        display: none;
      }

      a {
        color: #ffffffcc;
        transition: 0.2s;
        margin: 0 3px;

        &:hover {
          color: #fff;
        }
      }
    }

    .squarespace-link {
      text-align: right;
      @include screen-xs{
        text-align: left;
      }

      img {
        max-width: 150px;
      }

      a {
        display: block;
        margin-top: 5px;
        color: #ffffffcc;
        transition: 0.2s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

//gallery
.gallery {
  max-width: 1320px;
  margin: 36px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: wrap;

  @include screen-lg{
    max-width: 1200px;
  }
}


.gallery-item {
  position: relative;
  margin: 12px;
  height: 100%;
  width: 410px;
  display: inline-block;
  float: left;

  @include screen-lg{
    width: 30%;
  }

  &:hover {
    .gallery-content {
      opacity: 1;
    }
  }

  .gallery-picture{
    cursor: pointer;
  }

  .gallery-content {
    transition: 0.2s;
    opacity: 0;
    .member-gallery-btn {
      padding: 20px;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.2s;
      display: flex;

      .favorite-btn {
        margin-right: 8px;
      }
    }

    .avatar {
      margin: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      a{
        color: #fff;
      }

      img {
        border-radius: 50%;
        margin-right: 8px;
      }
    }

    .download-btn {
      margin: 20px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

