#wrap {

}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}